.page-welcome {
  .logo-tagline {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
      width: 50%;
      max-width: 200px;
      margin: 5rem auto 0;
    }

    p {
      line-height: 1.6;
      font-size: 18px;
      text-align: center;
    }
  }

  .buttons {
    margin-top: 30%;
  }
}
